@font-face {
    font-family: 'Bai Jamjuree';
    src: url("../font/BaiJamjuree-Regular.ttf");
}

:root {
    --primary-color: #0B131F;
    --secondary-color: #132236;
    --text-color: white;
    --border-color: #54ADF7;

    --border: var(--border-color) 3px solid;
    --border-radius: 17px;


    --background-image: url("../img/bgDark.png");

    --inputs-width: 1230px;
    --inputs-height: 64px;
    --inputs-vertical-margin: 16px;
    --inputs-other-vertical-margin: 30px;

    
}

/* Calculator & General */

* {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Bai Jamjuree', sans-serif;
}

#header {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    height: 100px;
    width: 100vw;
    position: sticky;
    top: -100px;
    margin: 0;
    border-bottom: var(--border);
}

#logo {
    font-size: 2em;
    margin: auto 0 auto 0;
    padding: 0;
    line-height: 100px;
}

#logo h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
}

#menuBtn {
    display: none;
    margin: auto 0 auto 0;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    background-color: var(--primary-color);
    border: var(--border);
    border-radius: var(--border-radius);
    width: 1400px;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1306px;
    margin: var(--inputs-other-vertical-margin) auto var(--inputs-other-vertical-margin) auto;
    padding: var(--inputs-other-vertical-margin) 0 calc(var(--inputs-other-vertical-margin) - var(--inputs-vertical-margin)) 0;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
}

#cmdtyInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

#cmdtyInputs input {
    margin: 0;
    margin-bottom: var(--inputs-vertical-margin);
    padding: 0;
    width: var(--inputs-width);
    height: var(--inputs-height);
    border: var(--border);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: 'Bai Jamjuree', sans-serif;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: var(--inputs-vertical-margin);
    padding: 0;
    width: var(--inputs-width);
    height: var(--inputs-height);
    border: var(--border);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: 'Bai Jamjuree', sans-serif;
}

select option {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 0.7em;
    font-family: 'Bai Jamjuree', sans-serif;
    width: var(--inputs-width);
}

#content {
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: calc(100vh - 100px);
    width: 100vw;
    margin: 0;
    padding: var(--inputs-other-vertical-margin) 0 calc(var(--inputs-other-vertical-margin) - var(--inputs-vertical-margin)) 0;
}

#outputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1306px;
    margin: 0 auto var(--inputs-other-vertical-margin) auto;
    padding: var(--inputs-other-vertical-margin) 0 calc(var(--inputs-other-vertical-margin) - var(--inputs-vertical-margin)) 0;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
}

#outputs div {
    margin: 0;
    margin-bottom: var(--inputs-vertical-margin);
    padding: 0;
    width: var(--inputs-width);
    height: var(--inputs-height);
    border: var(--border);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
}


/* Homepage */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 6em;
    margin: 0;
    padding: 0;
}

h2 {
    max-width: 80vw;
}

#section2 {
    background-color: var(--primary-color);
    cursor: pointer;
}

#section2-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: var(--primary-color);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100vw;
    height: 0px;
}

#section2-2 * {
    display: none;
}


@keyframes expandSection {
    0% {
        height: 0px;
    }
    100% {
        height: 100vh;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}